--
-- PostgreSQL database dump
--

\restrict BcOq1FfoXdsKcf83OncnHKtwkmofUmgMcZXir63Bifh7QHVFOW76FcWiB5EYYYu

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: asset_hierarchy; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.asset_hierarchy (
    id character varying(255) NOT NULL,
    parentid character varying(255),
    assetid character varying(255),
    "position" integer
);


ALTER TABLE public.asset_hierarchy OWNER TO postgres;

--
-- Name: asset_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.asset_history (
    id integer NOT NULL,
    assetid character varying(255) NOT NULL,
    action character varying(255) NOT NULL,
    oldvalue text,
    newvalue text,
    "user" character varying(255),
    "timestamp" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    details text
);


ALTER TABLE public.asset_history OWNER TO postgres;

--
-- Name: asset_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.asset_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.asset_history_id_seq OWNER TO postgres;

--
-- Name: asset_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.asset_history_id_seq OWNED BY public.asset_history.id;


--
-- Name: asset_it_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.asset_it_details (
    assetid character varying(255) NOT NULL,
    macaddress character varying(255),
    ipaddress character varying(255),
    networktype character varying(255),
    physicalport character varying(255),
    vlan character varying(255),
    socketid character varying(255),
    userid character varying(255)
);


ALTER TABLE public.asset_it_details OWNER TO postgres;

--
-- Name: asset_kinds; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.asset_kinds (
    name character varying(255) NOT NULL,
    module character varying(255),
    icon character varying(255),
    parentname character varying(255),
    lastupdated character varying(255),
    displayimage character varying(255),
    identifier character varying(255),
    is_deleted integer DEFAULT 0,
    deleted_at character varying(255)
);


ALTER TABLE public.asset_kinds OWNER TO postgres;

--
-- Name: assets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assets (
    id character varying(255) NOT NULL,
    no character varying(255),
    itemname text NOT NULL,
    itemdescription text,
    status character varying(255),
    make character varying(255),
    model character varying(255),
    srno character varying(255),
    serialno character varying(255),
    type character varying(255),
    category character varying(255),
    icon text,
    isplaceholder integer DEFAULT 0,
    parentid character varying(255),
    currentlocation text,
    previouslocation text,
    dispatchreceivedt character varying(255),
    purchasedetails text,
    remarks text,
    purpose text,
    purchasedate character varying(255),
    lastupdated character varying(255),
    qrcode text,
    assignedto text,
    macaddress character varying(255),
    ipaddress character varying(255),
    networktype character varying(255),
    physicalport character varying(255),
    vlan character varying(255),
    socketid character varying(255),
    userid character varying(255),
    noqr integer DEFAULT 0,
    currency character varying(255) DEFAULT 'INR'::character varying,
    asset_value real DEFAULT '0'::real,
    warranty_months integer DEFAULT 0,
    amc_months integer DEFAULT 0,
    quantity_parent_id character varying(255),
    quantity_root_id character varying(255),
    quantity_unit character varying(255),
    quantity_total real,
    quantity_available real,
    quantity_precision integer,
    quantity_updated_at character varying(255),
    conversion_unit character varying(255),
    conversion_factor real,
    conversion_mode character varying(255),
    is_quantity_tracked integer DEFAULT 0,
    warranty_tracking integer DEFAULT 0,
    boughtagainstpo text,
    sentagainstdc text,
    is_batch integer DEFAULT 0,
    linked_po_item_id integer,
    is_deleted integer DEFAULT 0,
    deleted_at character varying(255),
    department character varying(255),
    client_label character varying(50)
);


ALTER TABLE public.assets OWNER TO postgres;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_log (
    id integer NOT NULL,
    action character varying(255) NOT NULL,
    "user" character varying(255),
    assetid character varying(255),
    severity character varying(255),
    details text,
    "timestamp" character varying(255)
);


ALTER TABLE public.audit_log OWNER TO postgres;

--
-- Name: audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_log_id_seq OWNER TO postgres;

--
-- Name: audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_log_id_seq OWNED BY public.audit_log.id;


--
-- Name: companies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.companies (
    id character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    created_at character varying(255)
);


ALTER TABLE public.companies OWNER TO postgres;

--
-- Name: company_templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.company_templates (
    id integer NOT NULL,
    company_id character varying(255),
    template_type character varying(255),
    template_data text,
    created_at character varying(255)
);


ALTER TABLE public.company_templates OWNER TO postgres;

--
-- Name: company_templates_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.company_templates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.company_templates_id_seq OWNER TO postgres;

--
-- Name: company_templates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.company_templates_id_seq OWNED BY public.company_templates.id;


--
-- Name: components; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.components (
    id character varying(255) NOT NULL,
    parentid character varying(255),
    type character varying(255),
    name character varying(255),
    description text,
    itemname character varying(255),
    make character varying(255),
    model character varying(255),
    srno character varying(255),
    status character varying(255),
    category character varying(255),
    lastupdated character varying(255),
    noqr integer DEFAULT 0
);


ALTER TABLE public.components OWNER TO postgres;

--
-- Name: dc_item_mappings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dc_item_mappings (
    id integer NOT NULL,
    dc_id character varying(255) NOT NULL,
    assetid character varying(255) NOT NULL,
    customname text,
    customdescription text,
    "timestamp" character varying(255)
);


ALTER TABLE public.dc_item_mappings OWNER TO postgres;

--
-- Name: dc_item_mappings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dc_item_mappings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dc_item_mappings_id_seq OWNER TO postgres;

--
-- Name: dc_item_mappings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dc_item_mappings_id_seq OWNED BY public.dc_item_mappings.id;


--
-- Name: delivery_challans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.delivery_challans (
    id character varying(255) NOT NULL,
    challanno text,
    customername text,
    deliverydate character varying(255),
    assetids text,
    status character varying(255),
    qrcode text,
    createdby text,
    "timestamp" character varying(255),
    payloadjson text
);


ALTER TABLE public.delivery_challans OWNER TO postgres;

--
-- Name: department_quotas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.department_quotas (
    department character varying(255) NOT NULL,
    category character varying(255) NOT NULL,
    quota integer
);


ALTER TABLE public.department_quotas OWNER TO postgres;

--
-- Name: employees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees (
    id character varying(255) NOT NULL,
    employeeid character varying(255),
    name text,
    department character varying(255),
    designation character varying(255),
    email character varying(255),
    phone character varying(255),
    status character varying(255),
    lastupdated character varying(255)
);


ALTER TABLE public.employees OWNER TO postgres;

--
-- Name: folders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.folders (
    id character varying(255) NOT NULL,
    name character varying(255),
    parentid character varying(255),
    icon character varying(255),
    module character varying(255),
    createdby character varying(255),
    "timestamp" character varying(255)
);


ALTER TABLE public.folders OWNER TO postgres;

--
-- Name: hsn_codes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hsn_codes (
    code character varying(255) NOT NULL,
    description character varying(255),
    gst_rate real
);


ALTER TABLE public.hsn_codes OWNER TO postgres;

--
-- Name: knex_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.knex_migrations (
    id integer NOT NULL,
    name character varying(255),
    batch integer,
    migration_time timestamp with time zone
);


ALTER TABLE public.knex_migrations OWNER TO postgres;

--
-- Name: knex_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.knex_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.knex_migrations_id_seq OWNER TO postgres;

--
-- Name: knex_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.knex_migrations_id_seq OWNED BY public.knex_migrations.id;


--
-- Name: knex_migrations_lock; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.knex_migrations_lock (
    index integer NOT NULL,
    is_locked integer
);


ALTER TABLE public.knex_migrations_lock OWNER TO postgres;

--
-- Name: knex_migrations_lock_index_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.knex_migrations_lock_index_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.knex_migrations_lock_index_seq OWNER TO postgres;

--
-- Name: knex_migrations_lock_index_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.knex_migrations_lock_index_seq OWNED BY public.knex_migrations_lock.index;


--
-- Name: layout_markers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.layout_markers (
    id character varying(255) NOT NULL,
    layoutid character varying(255),
    assetid character varying(255),
    x real,
    y real
);


ALTER TABLE public.layout_markers OWNER TO postgres;

--
-- Name: layouts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.layouts (
    id character varying(255) NOT NULL,
    name character varying(255),
    imageurl character varying(255),
    projectid character varying(255)
);


ALTER TABLE public.layouts OWNER TO postgres;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissions (
    key character varying(255) NOT NULL,
    description character varying(255)
);


ALTER TABLE public.permissions OWNER TO postgres;

--
-- Name: project_assets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_assets (
    projectid character varying(255) NOT NULL,
    assetid character varying(255) NOT NULL,
    assigneddate character varying(255),
    type character varying(255)
);


ALTER TABLE public.project_assets OWNER TO postgres;

--
-- Name: project_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_history (
    id integer NOT NULL,
    projectid character varying(255) NOT NULL,
    action character varying(255),
    "user" character varying(255),
    details text,
    "timestamp" character varying(255)
);


ALTER TABLE public.project_history OWNER TO postgres;

--
-- Name: project_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.project_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.project_history_id_seq OWNER TO postgres;

--
-- Name: project_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.project_history_id_seq OWNED BY public.project_history.id;


--
-- Name: project_order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_order_items (
    id integer NOT NULL,
    orderid character varying(255) NOT NULL,
    srno integer,
    itemdescription text,
    duedate character varying(255),
    qtyordered real,
    uom character varying(255),
    unitprice real,
    total real,
    assetid character varying(255),
    "timestamp" character varying(255),
    status character varying(255) DEFAULT 'Pending'::character varying
);


ALTER TABLE public.project_order_items OWNER TO postgres;

--
-- Name: project_order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.project_order_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.project_order_items_id_seq OWNER TO postgres;

--
-- Name: project_order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.project_order_items_id_seq OWNED BY public.project_order_items.id;


--
-- Name: project_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_orders (
    id character varying(255) NOT NULL,
    projectid character varying(255) NOT NULL,
    orderno text,
    orderdate character varying(255),
    consigneename text,
    consigneeaddress text,
    consigneegstin character varying(255),
    consigneestate character varying(255),
    consigneestatecode character varying(255),
    buyername text,
    buyeraddress text,
    buyergstin character varying(255),
    buyerstate character varying(255),
    buyerstatecode character varying(255),
    createdby character varying(255),
    "timestamp" character varying(255),
    ponumber text,
    podate character varying(255),
    vendorname text,
    totalamount real DEFAULT '0'::real,
    status character varying(255) DEFAULT 'Active'::character varying,
    is_deleted integer DEFAULT 0,
    deleted_at character varying(255)
);


ALTER TABLE public.project_orders OWNER TO postgres;

--
-- Name: projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.projects (
    id character varying(255) NOT NULL,
    projectname text NOT NULL,
    clientname text,
    description text,
    status character varying(255),
    startdate character varying(255),
    enddate character varying(255),
    createdby character varying(255),
    "timestamp" character varying(255),
    location text,
    currency character varying(255),
    owneremail text,
    coordinatoremail text,
    qrcode text,
    type character varying(255),
    consigneename text,
    consigneeaddress text,
    consigneegstin character varying(255),
    consigneestate character varying(255),
    consigneestatecode character varying(255),
    buyername text,
    buyeraddress text,
    buyergstin character varying(255),
    buyerstate character varying(255),
    buyerstatecode character varying(255),
    is_deleted integer DEFAULT 0,
    deleted_at character varying(255),
    initials character varying(10)
);


ALTER TABLE public.projects OWNER TO postgres;

--
-- Name: quantity_event_lines; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quantity_event_lines (
    event_id integer NOT NULL,
    asset_id character varying(255) NOT NULL,
    unit character varying(255),
    delta_available real DEFAULT '0'::real NOT NULL,
    delta_total real DEFAULT '0'::real NOT NULL
);


ALTER TABLE public.quantity_event_lines OWNER TO postgres;

--
-- Name: quantity_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quantity_events (
    id integer NOT NULL,
    root_id character varying(255) NOT NULL,
    type character varying(255) NOT NULL,
    actor character varying(255),
    "timestamp" character varying(255) NOT NULL,
    note character varying(255),
    metadata_json text
);


ALTER TABLE public.quantity_events OWNER TO postgres;

--
-- Name: quantity_events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.quantity_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.quantity_events_id_seq OWNER TO postgres;

--
-- Name: quantity_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.quantity_events_id_seq OWNED BY public.quantity_events.id;


--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role_permissions (
    role_name character varying(255) NOT NULL,
    permission_key character varying(255) NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    name character varying(255) NOT NULL,
    description character varying(255)
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: temporary_assets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.temporary_assets (
    id character varying(255) NOT NULL,
    itemname character varying(255),
    make character varying(255),
    model character varying(255),
    type character varying(255),
    category character varying(255),
    status character varying(255),
    projectid character varying(255),
    ispermanent integer DEFAULT 0,
    estimatedprice real DEFAULT '0'::real,
    currency character varying(255) DEFAULT 'INR'::character varying,
    linked_po_item_id integer,
    "timestamp" character varying(255),
    is_deleted integer DEFAULT 0,
    deleted_at character varying(255)
);


ALTER TABLE public.temporary_assets OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    username character varying(255) NOT NULL,
    fullname text,
    password text NOT NULL,
    role character varying(255) DEFAULT 'user'::character varying,
    project_id character varying(255),
    client_id character varying(255),
    company_id character varying(255),
    employee_id character varying(255),
    department text,
    created_at character varying(255)
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: asset_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_history ALTER COLUMN id SET DEFAULT nextval('public.asset_history_id_seq'::regclass);


--
-- Name: audit_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log ALTER COLUMN id SET DEFAULT nextval('public.audit_log_id_seq'::regclass);


--
-- Name: company_templates id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company_templates ALTER COLUMN id SET DEFAULT nextval('public.company_templates_id_seq'::regclass);


--
-- Name: dc_item_mappings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dc_item_mappings ALTER COLUMN id SET DEFAULT nextval('public.dc_item_mappings_id_seq'::regclass);


--
-- Name: knex_migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.knex_migrations ALTER COLUMN id SET DEFAULT nextval('public.knex_migrations_id_seq'::regclass);


--
-- Name: knex_migrations_lock index; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.knex_migrations_lock ALTER COLUMN index SET DEFAULT nextval('public.knex_migrations_lock_index_seq'::regclass);


--
-- Name: project_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_history ALTER COLUMN id SET DEFAULT nextval('public.project_history_id_seq'::regclass);


--
-- Name: project_order_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_order_items ALTER COLUMN id SET DEFAULT nextval('public.project_order_items_id_seq'::regclass);


--
-- Name: quantity_events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quantity_events ALTER COLUMN id SET DEFAULT nextval('public.quantity_events_id_seq'::regclass);


--
-- Data for Name: asset_hierarchy; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: asset_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: asset_it_details; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.asset_it_details (assetid, macaddress, ipaddress, networktype, physicalport, vlan, socketid, userid) FROM stdin;
MON-LOC-0426-GC8K8Z-Y			DHCP				
MON-LOC-0426-RZQZ0T-C			DHCP				
LPT-MUM-0326-E6UDXT-Z			DHCP				
AST002			DHCP				
ACC-MUM-0426-B8FU04-B			DHCP				
SRV-MUM-0426-FC88BN-6			DHCP				
ACC-MUM-0426-TVSU8B-8			DHCP				
DAT-MUM-0426-1DCDQ6-3			DHCP				
ACC-MUM-0426-OMRMVJ-B			DHCP				
\.


--
-- Data for Name: asset_kinds; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: assets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.companies (id, name, created_at) FROM stdin;
25451fa6-82a7-414b-9b40-341bcd1b7286	CINEOM	2026-03-16 11:16:16
\.


--
-- Data for Name: company_templates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.company_templates (id, company_id, template_type, template_data, created_at) FROM stdin;
1	\N	\N	\N	2026-03-17 06:13:28
\.


--
-- Data for Name: components; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.components (id, parentid, type, name, description, itemname, make, model, srno, status, category, lastupdated, noqr) FROM stdin;
\.


--
-- Data for Name: dc_item_mappings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dc_item_mappings (id, dc_id, assetid, customname, customdescription, "timestamp") FROM stdin;
\.


--
-- Data for Name: delivery_challans; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: department_quotas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.department_quotas (department, category, quota) FROM stdin;
\.


--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.employees (id, employeeid, name, department, designation, email, phone, status, lastupdated) FROM stdin;
EMP1775033279010	1181	Arnav Thatte	IT / AV	AV Engineer			ACTIVE	2026-04-01T08:47:59.012Z
\.


--
-- Data for Name: folders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.folders (id, name, parentid, icon, module, createdby, "timestamp") FROM stdin;
IT_ROOT	IT Assets	\N	≡ƒÆ╗	IT	\N	\N
NON_IT_ROOT	Non-IT Assets	\N	≡ƒ¬æ	NON_IT	\N	\N
\.


--
-- Data for Name: hsn_codes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.hsn_codes (code, description, gst_rate) FROM stdin;
\.


--
-- Data for Name: knex_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.knex_migrations (id, name, batch, migration_time) FROM stdin;
1	20260417060510_create_initial_schema.js	1	2026-04-17 11:54:15.469+00
\.


--
-- Data for Name: knex_migrations_lock; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.knex_migrations_lock (index, is_locked) FROM stdin;
1	0
\.


--
-- Data for Name: layout_markers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.layout_markers (id, layoutid, assetid, x, y) FROM stdin;
1	2	IP	38.056103	8.069417
\.


--
-- Data for Name: layouts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.layouts (id, name, imageurl, projectid) FROM stdin;
1	Office Plan	\N	\N
2	Office Plan	\N	\N
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: project_assets; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.project_assets (projectid, assetid, assigneddate, type) FROM stdin;
PRJ1773724147996	LPT-MUM-0326-E6UDXT-Z	2026-03-17T05:34:40.778Z	Permanent
PRJ1773746860453	LPT-ON-0326-5JUHYK-6	2026-03-24T04:50:46.093Z	Permanent
PRJ1773724147996	AST001	2026-03-27T05:24:12.935Z	DC
LOC-0426-222627-P	MON-LOC-0426-RZQZ0T-C	2026-04-03T10:10:14.422Z	Permanent
LOC-0426-790924-P	SRV-MUM-0426-FC88BN-6	2026-04-15T11:57:42.603Z	DC
LOC-0426-790924-P	ACC-MUM-0426-OMRMVJ-B	2026-04-18T12:15:26.559Z	Permanent
\.


--
-- Data for Name: project_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.project_history (id, projectid, action, "user", details, "timestamp") FROM stdin;
\.


--
-- Data for Name: project_order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: project_orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: quantity_event_lines; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quantity_event_lines (event_id, asset_id, unit, delta_available, delta_total) FROM stdin;
1	LPT-MUM-0326-E6UDXT-Z	pcs	3	3
2	LPT-MUM-0326-E6UDXT-Z	pcs	-1	-1
3	AST002	pcs	3	3
4	AST002	pcs	-3	-3
5	ACC-MUM-0426-B8FU04-B	pcs	3	3
9	ACC-MUM-0426-B8FU04-B	pcs	-1	-1
10	ACC-MUM-0426-B8FU04-B	pcs	-1	-1
11	ACC-MUM-0426-B8FU04-B	pcs	-1	-1
12	ACC-MUM-0426-B8FU04-B	pcs	1	1
13	ACC-MUM-0426-B8FU04-B	pcs	1	1
14	ACC-MUM-0426-B8FU04-B	pcs	1	1
15	ACC-MUM-0426-B8FU04-B	pcs	-1	-1
16	ACC-MUM-0426-B8FU04-B	pcs	1	1
17	ACC-MUM-0426-B8FU04-B	pcs	-2	-2
18	ACC-MUM-0426-B8FU04-B	pcs	1	1
\.


--
-- Data for Name: quantity_events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (name, description) FROM stdin;
superuser	System owner with full access
admin	Company administrator with full access to modules
manager	Manager with elevated asset and category access
user	Standard internal user
client	External client user
it_user	IT personnel with network access
it_manager	IT manager with network management access
\.


--
-- Data for Name: temporary_assets; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.temporary_assets (id, itemname, make, model, type, category, status, projectid, ispermanent, estimatedprice, currency, linked_po_item_id, "timestamp", is_deleted, deleted_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (username, fullname, password, role, project_id, client_id, company_id, employee_id, department, created_at) FROM stdin;
User	User	$2b$12$q5iS.T.66s1oQLsnK66BtO54KnIiGWLSDDx7dHj.GYI5NpMnMpMJy	user	\N	25451fa6-82a7-414b-9b40-341bcd1b7286	25451fa6-82a7-414b-9b40-341bcd1b7286	10101	\N	2026-03-31 10:09:41
admin	itdevelopment@cineom.in	$2b$12$UyLizpxrMbFLEQt7rYss.OxzoHJpGyNlbwkxrDmwakgVPOKpOp4YS	superuser	\N	25451fa6-82a7-414b-9b40-341bcd1b7286	25451fa6-82a7-414b-9b40-341bcd1b7286	1198	\N	2026-03-16 11:16:36
\.


--
-- Name: asset_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.asset_history_id_seq', 34, true);


--
-- Name: audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_log_id_seq', 84, true);


--
-- Name: company_templates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.company_templates_id_seq', 1, true);


--
-- Name: dc_item_mappings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dc_item_mappings_id_seq', 1, false);


--
-- Name: knex_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.knex_migrations_id_seq', 1, true);


--
-- Name: knex_migrations_lock_index_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.knex_migrations_lock_index_seq', 1, true);


--
-- Name: project_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.project_history_id_seq', 1, false);


--
-- Name: project_order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.project_order_items_id_seq', 26, true);


--
-- Name: quantity_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.quantity_events_id_seq', 18, true);


--
-- Name: asset_hierarchy asset_hierarchy_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_hierarchy
    ADD CONSTRAINT asset_hierarchy_pkey PRIMARY KEY (id);


--
-- Name: asset_history asset_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_history
    ADD CONSTRAINT asset_history_pkey PRIMARY KEY (id);


--
-- Name: asset_it_details asset_it_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_it_details
    ADD CONSTRAINT asset_it_details_pkey PRIMARY KEY (assetid);


--
-- Name: asset_kinds asset_kinds_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_kinds
    ADD CONSTRAINT asset_kinds_pkey PRIMARY KEY (name);


--
-- Name: assets assets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_pkey PRIMARY KEY (id);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- Name: company_templates company_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company_templates
    ADD CONSTRAINT company_templates_pkey PRIMARY KEY (id);


--
-- Name: components components_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.components
    ADD CONSTRAINT components_pkey PRIMARY KEY (id);


--
-- Name: dc_item_mappings dc_item_mappings_dc_id_assetid_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dc_item_mappings
    ADD CONSTRAINT dc_item_mappings_dc_id_assetid_unique UNIQUE (dc_id, assetid);


--
-- Name: dc_item_mappings dc_item_mappings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dc_item_mappings
    ADD CONSTRAINT dc_item_mappings_pkey PRIMARY KEY (id);


--
-- Name: delivery_challans delivery_challans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.delivery_challans
    ADD CONSTRAINT delivery_challans_pkey PRIMARY KEY (id);


--
-- Name: department_quotas department_quotas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department_quotas
    ADD CONSTRAINT department_quotas_pkey PRIMARY KEY (department, category);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: folders folders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.folders
    ADD CONSTRAINT folders_pkey PRIMARY KEY (id);


--
-- Name: hsn_codes hsn_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hsn_codes
    ADD CONSTRAINT hsn_codes_pkey PRIMARY KEY (code);


--
-- Name: knex_migrations_lock knex_migrations_lock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.knex_migrations_lock
    ADD CONSTRAINT knex_migrations_lock_pkey PRIMARY KEY (index);


--
-- Name: knex_migrations knex_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.knex_migrations
    ADD CONSTRAINT knex_migrations_pkey PRIMARY KEY (id);


--
-- Name: layout_markers layout_markers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.layout_markers
    ADD CONSTRAINT layout_markers_pkey PRIMARY KEY (id);


--
-- Name: layouts layouts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.layouts
    ADD CONSTRAINT layouts_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (key);


--
-- Name: project_assets project_assets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_assets
    ADD CONSTRAINT project_assets_pkey PRIMARY KEY (projectid, assetid);


--
-- Name: project_history project_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_history
    ADD CONSTRAINT project_history_pkey PRIMARY KEY (id);


--
-- Name: project_order_items project_order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_order_items
    ADD CONSTRAINT project_order_items_pkey PRIMARY KEY (id);


--
-- Name: project_orders project_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_orders
    ADD CONSTRAINT project_orders_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: quantity_event_lines quantity_event_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quantity_event_lines
    ADD CONSTRAINT quantity_event_lines_pkey PRIMARY KEY (event_id, asset_id);


--
-- Name: quantity_events quantity_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quantity_events
    ADD CONSTRAINT quantity_events_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (role_name, permission_key);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (name);


--
-- Name: temporary_assets temporary_assets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.temporary_assets
    ADD CONSTRAINT temporary_assets_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (username);


--
-- Name: layout_markers layout_markers_layoutid_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.layout_markers
    ADD CONSTRAINT layout_markers_layoutid_foreign FOREIGN KEY (layoutid) REFERENCES public.layouts(id) ON DELETE CASCADE;


--
-- Name: quantity_event_lines quantity_event_lines_event_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quantity_event_lines
    ADD CONSTRAINT quantity_event_lines_event_id_foreign FOREIGN KEY (event_id) REFERENCES public.quantity_events(id) ON DELETE CASCADE;


--
-- Name: role_permissions role_permissions_permission_key_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_permission_key_foreign FOREIGN KEY (permission_key) REFERENCES public.permissions(key) ON DELETE CASCADE;


--
-- Name: role_permissions role_permissions_role_name_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_role_name_foreign FOREIGN KEY (role_name) REFERENCES public.roles(name) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict BcOq1FfoXdsKcf83OncnHKtwkmofUmgMcZXir63Bifh7QHVFOW76FcWiB5EYYYu

